BEARER_TOKEN="AAAAAAAAAAAAAAAAAAAAADMU9wEAAAAAdY1v8CMvpbBLe%2FtG02Wlx4sugG4%3DS33mJ9xtnpUH1iD5qZVoU9RBjA1LnPCTzVbAp61H6L7fBoJ5xQ"

CONSUMER_KEY="WF3WCfumjKmaWUgwR0rPUvC7E"
CONSUMER_SECRET="9dvL7DqUR0JI0GLM3Ra9Nm7sloBHvAcgpxw2pFjZhRs9IvE3mn"

ACCESS_TOKEN="430034220-p1jIaQtl20UxxO1oP3pur2FjK9LUxMLaKRqFjV6Q"
ACCESS_SECRET="U6Ou8bNMN02P1f5aXs90mpraMgJtmB04Fx68G0q0xVVaH"